.section {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.grand-total {
  margin-bottom: 20px;
}
.section-header {
  background-color: #f8f8f8;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.table {
  width: 100%;
  & td {
    border: none;
  }
}
.head {
  border: none;
  background-color: #f8f8f8;
  & tr {
    font-size: 14px;
    font-weight: 400;
  }
  & th {
    border: none;
  }
}

.table-row {
  font-size: 12px;
  font-weight: 400;
  & td {
    border: none;
    text-align: center;
  }
}
